<%= f.label t("admin.form.title.ja") %>
<%= f.text_field :ja %>
<%= f.select :category_id,
    options_from_collection_for_select(Category.all, "id", "name", word.category_id) %>
<%= f.fields_for :answers do |a| %>
  <div class="row">
    <%= a.text_field :answer %>
    <div class="col-md-3">
      <%= a.label :correct, t("admin.form.check_box.false") %>
      <%= a.radio_button :correct, false , checked: true , value: false %>
      <span>
      <%= a.label :correct, t("admin.form.check_box.true") %>
      <%= a.radio_button :correct, true, value: true%>
      </span>
    </div>
  </div>
<% end %>