<section>
  <h3>Words list</h3>
  <div class="row" id="words">
    <div class="col-md-1"><%= link_to raw(t('admin.button.new')), new_admin_word_path %></div>
    <ul class="col-md-11 col-md-offset-1">
      <% @words.each do |word| %>
        <li>
          <div class="col-md-2"><%= word.ja %></div>
          <div class="col-md-2"><%= word.correct_answer %></div>
          <div class="col-md-4"><%= word.answers.pluck :answer %></div>
          <span class="col-md-1"><%= link_to raw(t('admin.button.show')), admin_word_path(word) %></span>
          <span class="col-md-1"><%= link_to raw(t('admin.button.edit')), edit_admin_word_path(word) %></span>
          <span class="col-md-1"><%= link_to raw(t('admin.button.delete')), admin_word_path(word), {method: :delete} %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="row" id="words">
    <%= will_paginate(@words) %>
  </div>
</section>