<% provide :title, "Edit user" %>
<section>
<h1><%= I18n.t "session.update" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <div class="form-group">
        <%= f.label :avatar, class: "col-sm-2 control-label" %>
        <div class="col-sm-6">
          <%= f.file_field :avatar %>
        </div>
      </div>

      <%= f.submit I18n.t "submit.save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</section>