<div class="container">
<section>
  <div class="row">
    <h1><%= t "categories.all" %></h1>
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th><%= t "categories.name" %></th>
        <th><%= t "categories.description" %></th>
        <th><%= t "categories.start" %></th>
      </tr>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><h6><%= category.name %></h6></td>
          <td><%= category.description %></td>
          <td>
            <%= form_for Lesson.new do |f| %>
              <%= f.hidden_field :category_id, value: category.id %>
              <%= f.submit t("category.start"), class: "btn" %>
            <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</section>