<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <%= link_to t("home.header.title"), root_path, class: "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <%= link_to t("home.title.admin.words"), admin_words_path %>
          </li>
          <li class="page-scroll">
            <%= link_to t("home.title.admin.lessons"), admin_lessons_path %>
          </li>
          <li class="page-scroll">
            <%= link_to t("home.title.profile"), edit_user_path(current_user) %>
          </li>
          <li class="page-scroll">
            <%= link_to t("home.title.logout"), logout_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>